.form-group label {
    position: absolute;
    top: -20px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 0.9rem;
    color: #000;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  input, .form-control {
    padding-top: 20px;
  }

  .error-text {
    color: red; /* Hata mesajlarının rengini kırmızı yapar */
    font-size: 0.9em; /* Yazı boyutunu biraz küçültür */
    margin-top: -10px; /* Hata mesajı ve giriş alanı arasındaki boşluğu ayarlar */
    margin-bottom: 10px; /* Hata mesajı ile alt alan arasındaki boşluğu ayarlar */
  }
  