.kutu {
    margin: 15px;
    width: 200px; /* Genişliği biraz küçülttüm */
    height: 350px; /* Yüksekliği de küçülttüm */
    padding: 10px;
    border: solid 1px #CCC;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
    transition: background-color 0.3s ease;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kutu:hover {
    background-color: #e7e7e7;
}

.kitapad, .kitapyazar, .kitapfiyat {
    white-space: nowrap; /* Tek satır yapar */
    overflow: hidden; /* Taşan içeriği gizler */
    text-overflow: ellipsis; /* ... ekler */
}

.kitapad {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
}

.kitapyazar {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.kitapfiyat {
    font-size: 1.2em;
    color: #F00;
    margin-top: 10px;
}

.img-thumbnail {
    width: 80%; /* Genişlik kutuya göre ayarlandı */
    height: 80%; /* Görseli biraz küçülttüm */
    object-fit: contain; /* Resmi kutunun içine sığacak şekilde ayarlar */
    border-radius: 8px; /* Köşeleri yuvarlar */
    box-shadow: 2px 2px 5px #999; /* Gölge efekti */
    margin: 0 auto; /* Ortalamak için */
}

.book-info {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}
